.App {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Source Code Pro', monospace;
  font-size: 26px;
  font-weight: 600;
  color: white;
}

h2 {
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  font-weight: 600;
  color: white;
}

h3 {
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  font-weight: 300;
  color: white;
}

h4 {
  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
  font-weight: 400;
  color: white;
}

p {
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
  color: white;
}

.App-header {
  background-image: url("https://res.cloudinary.com/aetherfall/image/upload/v1589831298/my-portfolio/Background_Header_tq2n6q.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 30vh;
  background-color: #15192B;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;  
  z-index: -1;
}

/*
Fonts--
font-family: 'Source Code Pro', monospace;
font-family: 'Questrial', sans-serif;

Colors--
#041348 - Dark Blue
#FF8902 - Orange
#3D43B4 - Dark Purple
#8386F5 - Light Purple
#C67B25 - Dark Orange
*/
