body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
Fonts--
font-family: 'Source Code Pro', monospace;
font-family: 'Questrial', sans-serif;

Colors--
#041348 - Dark Blue
#FF8902 - Orange
#3D43B4 - Dark Purple
#8386F5 - Light Purple
#C67B25 - Dark Orange
*/